{% extends 'base/base.html' %}



{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Domicilio</td>
			<td>Ciudad</td>
			<td>Estado</td>
			<td>Pais</td>
			<td>Website</td>

		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for editor in object_list %}
		<tr>
			<td>{{ editor.id }}</td>
			<td>{{ editor.nombre }}</td>
			<td>{{ editor.domicilio }}</td>
			<td>{{ editor.ciudad }}</td>
			<td>{{ editor.estado }}</td>
			<td>{{ editor.pais }}</td>
			<td>{{ editor.website }}</td>


			
			<td>
				<a class="btn btn-primary" href="{% url 'editor:editor_editar_class' editor.id %}">Editar</a>
				<a class="btn btn-primary" href="{% url 'editor:editor_eliminar_class' editor.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}




		{% elif editores %}
		{% for editor in editores %}
		<tr>
			<td>{{ editor.id }}</td>
			<td>{{ editor.nombre }}</td>
			<td>{{ editor.domicilio }}</td>
			<td>{{ editor.ciudad }}</td>
			<td>{{ editor.estado }}</td>
			<td>{{ editor.pais }}</td>
			<td>{{ editor.website }}</td>


			
			<td>
				<a class="btn btn-primary" href="{% url 'editor:editor_editar_class' editor.id %}">Editar</a>
				<a class="btn btn-primary" href="{% url 'editor:editor_eliminar_class' editor.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}




		{% else %}
		<h1>No hay registros de editores</h1>

		{% endif %}




		

		

		
	</tbody>
</table>

{% endblock %}